
<%- include("header") %> 

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt adipisci dolore sequi vel, ipsa beatae dicta voluptas praesentium iure quo nostrum laboriosam pariatur vero laborum asperiores! Soluta, molestiae maiores.</p>

<%- include("footer") %> 